.nav-wrapper {
    background-color: #64b5f6;
}

/* .ferry-overview {
    display: inline-block;
    float: none;
    text-align: initial;

} */

.hero-header {
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-image {
    width: 100%;
    height: 10%;
}

/* /* .hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
} */

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
} 