.nav-wrapper {
    background-color: #64b5f6;
}

body {
    min-height: 200vh;
}

.logo {
    font-weight: 300;
    padding-left: 10px;
}


section-header {
    font-weight: 300;
}
 
.thin-text {
    /* font-weight: 300; */
    background: rgba(96, 125, 139, .4);
    padding: 40px;
    border-radius: 10px;  
}

/* .ferry-overview {
    align
} */

/* .card {
    width: 400px;
} */

.ferry-routes {
    min-height: 300px;
}
.map {
    min-height: 600px;
}
